@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

.header{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 0.375rem 1rem;
}
.title{
    font-size: 3em;
}
.right_item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}
.logout{
    height: 21px;
}
